# --- Fast API Config ---
ENV=
CORS_ORIGINS=

# --- Instance Constants ---
USER_LIMIT=

# --- MongoDB Connection ---
CLUSTER_NAME=
DB_NAME=
DB_PASS=
DB_URI=

# --- JWT Authentication ---
SECRET_KEY=
ALGORITHM=HS256

# --- Redis Cloud Access ---
REDIS_USERNAME=default
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# --- Atlas Administration API ---
GROUP_ID=
ATLAS_PUBLIC_KEY=
ATLAS_PRIVATE_KEY=

# --- RAG Model ---
EMBEDDING_MODEL_NAME=paraphrase-MiniLM-L3-v2

# --- Memory optimizations ---
PYTHONOPTIMIZE=1
PYTHONDONTWRITEBYTECODE=1
MALLOC_TRIM_THRESHOLD_=100000

PYTHONHASHSEED=0

OMP_NUM_THREADS=1
MKL_NUM_THREADS=1
NUMEXPR_NUM_THREADS=1

# --- Network optimizations ---
MAX_MEMORY_MB=510
MAX_CONCURRENT_REQUESTS=8
