@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&family=Fira+Code:wght@400;700&family=Victor+Mono:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700;800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", "Fira Code", "Victor Mono", monospace;

  --background-image-ai-luminous: linear-gradient(
    90deg,
    #2e8b57,
    #26a69a,
    #ffaf00,
    #ff8c00
  );

  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}
